{extend name="index" /} {block name="content"}
<div class="panel-body"></div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <h1>这是一个标题<small>[2017-03-08]</small></h1>
                        <hr>
                         河北工业大学梦云智软件开发团队成立于2014年12月。依托于计算机科学与软件学院，团队现拥有自身独立的实验室，经过一年多不懈的努力，团队学习氛围越来越浓厚，团队精神越来越多地被我们诠释。 
                         
                        自团队成立以来，已先后完成”“众筹海淘” 微信购物平台系统 、 “天职师大”绩效管理系统、“洛克酒店”管理系统、 “河北工业大学材料学院”论文送审系统、“一鑫教育”英语在线学习系统等项目。在项目的开发过程中，我们也深深的认识到团队发展中分工、合作及设计模式等方面的不足，并不断的在新技术、新模式领域进行探索。
                         团队项目开源github地址：https://github.com/yunzhiclub
                         
                        我们骄傲的培育出的第一批成员（施江程，邢彦年，刘芳，许傲，邓浩洋，纪鹏）已经步入社会或新的学习环境。当在团队的学习经历为他们的求学求职路扫清了一些障碍后，我们再次坚信：以培养有兴趣的学生为目的，结合实际的项目，不断的探索适用的设计模式，培养成员的团队精神，和国际前沿技术接轨，这条路我们走的是对的。
                         
                        如果你对计算机科学有着深厚的兴趣，并致力于在计算机科学深入发展，如果你还在为找不到方向而苦恼，如果你还在孤军奋战，如果你正在寻找身边那群志同道合的人，如果你也是那个靠谱的一份子。那么，现在就加入我们吧，团队欢迎你的到来！
                        在这里，你将拥有一个新的大家庭，就像你愿意将我们做为家人一样，我们也非常愿意并尝试着视你为至亲。我们一起学习，一起讨论人生，一起靠谱，一起运动，在这里，“我们”，将不再单单的是两个汉字。
                        我们向往财富，但从不追逐利益；我们追求平等，所以排斥特例。
                        在这里，你将有机会与它们打交道，并且有可能成为最熟悉的朋友：
                        HTML \ CSS \ JAVASCRIPT \ MYSQL \ BOOTSTRAP \ ANGULARJS \ JQUERY \ PHP \ THINKPHP \ CORDORVA \ IONIC ......
                        在这里，你还会天天和它们打交道，并且它们注定会成为你形影不离的好朋友。
                        GIT \ GITHUB \ SUBLIME \ XAMPP \ GHROME \ FIREFOX \ FIREBUG  \ PROCESSON \ NAVICAT ......
                           
                        本次公开招募信息：
                        2016年6月1日至3日，在此期间接收包含有个人基本信息的入队申请，接收邮箱：38579596@qq.com。
                        初选通过的将在6月4日通知后续事宜。
                        总人数：2人，其中男生2人，女生0人（我们不岐视女生，团队中男女比例一直力争维持在1:1)。
                    </div>
                </div>
            </div>
        </div>
    </div>
</d iv>
{/block}
