{extend name="index" /} {block name="content"}
            <div class="row">
                <div class="col-md-12">
                    <div class="span12">
                        <hr />
                       
                       
                        <div class="jumbotron">
                            <div class="container">
                            <form>
                            <textarea  style="width:1100px;height:400px;">
                              河北工业大学梦云智软件开发团队成立于2014年12月。依托于计算机科学与软件学院，团队现拥有自身独立的实验室，经过一年多不懈的努力，团队学习氛围越来越浓厚，团队精神越来越多地被我们诠释。 
                            
                            自团队成立以来，已先后完成”“众筹海淘” 微信购物平台系统 、 “天职师大”绩效管理系统、“洛克酒店”管理系统、 “河北工业大学材料学院”论文送审系统、“一鑫教育”英语在线学习系统等项目。在项目的开发过程中，我们也深深的认识到团队发    展中分工、合作及设计模式等方面的不足，并不断的在新技术、新模式领域进行探索。
                            团队项目开源github地址：https://github.com/yunzhiclub
                            
                            我们骄傲的培育出的第一批成员（施江程，邢彦年，刘芳，许傲，邓浩洋，纪鹏）已经步入社会或新的学习环境。当在团队的学习经历为他们的求学求职路扫清了一些障碍后，我们再次坚信：以培养有兴趣的学生为目的，结合实际的项目，不断的探索适用的设计模式，培养成员的团队精神，和国际前沿技术接轨，这条路我们走的是对的。
                            河北工业大学梦云智软件开发团队成立于2014年12月。依托于计算机科学与软件学院，团队现拥有自身独立的实验室，经过一年多不懈的努力，团队学习氛围越来越浓厚，团队精神越来越多地被我们诠释。 
                            
                            自团队成立以来，已先后完成”“众筹海淘” 微信购物平台系统 、 “天职师大”绩效管理系统、“洛克酒店”管理系统、 “河北工业大学材料学院”论文送审系统、“一鑫教育”英语在线学习系统等项目。在项目的开发过程中，我们也深深的认识到团队发    展中分工、合作及设计模式等方面的不足，并不断的在新技术、新模式领域进行探索。
                            团队项目开源github地址：https://github.com/yunzhiclub
                            
                            我们骄傲的培育出的第一批成员（施江程，邢彦年，刘芳，许傲，邓浩洋，纪鹏）已经步入社会或新的学习环境。当在团队的学习经历为他们的求学求职路扫清了一些障碍后，我们再次坚信：以培养有兴趣的学生为目的，结合实际的项目，不断的探索适用的设计模式，培养成员的团队精神，和国际前沿技术接轨，这条路我们走的是对的。
                            河北工业大学梦云智软件开发团队成立于2014年12月。依托于计算机科学与软件学院，团队现拥有自身独立的实验室，经过一年多不懈的努力，团队学习氛围越来越浓厚，团队精神越来越多地被我们诠释。 
                            
                            自团队成立以来，已先后完成”“众筹海淘” 微信购物平台系统 、 “天职师大”绩效管理系统、“洛克酒店”管理系统、 “河北工业大学材料学院”论文送审系统、“一鑫教育”英语在线学习系统等项目。在项目的开发过程中，我们也深深的认识到团队发    展中分工、合作及设计模式等方面的不足，并不断的在新技术、新模式领域进行探索。
                            团队项目开源github地址：https://github.com/yunzhiclub
                            
                            我们骄傲的培育出的第一批成员（施江程，邢彦年，刘芳，许傲，邓浩洋，纪鹏）已经步入社会或新的学习环境。当在团队的学习经历为他们的求学求职路扫清了一些障碍后，我们再次坚信：以培养有兴趣的学生为目的，结合实际的项目，不断的探索适用的设计模式，培养成员的团队精神，和国际前沿技术接轨，这条路我们走的是对的。
                            </textarea>
                            </form>
                            <div class="col-md-15 text-center ">
                                    <button type="submit" class="btn btn-md btn-success" onclick="{:url('index')}"  ><i class="fa fa-check "></i>确认</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            {/block}
