<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">新增发票抬头 </label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" placeholder="单行输入" />
        </div>
    </div>
</div>
<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips" style="margin-right:20px;margin-left:20px;margin-top: 100px">保存修改</a>
</div>
