<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">姓名</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" placeholder="必填" />
        </div>
    </div>
    <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__hd">
            <label class="weui-label">性别</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="必填">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label for="" class="weui-label">出生日期</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="date" value="" />
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">英文姓名</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="存在于护照上" />
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">手机号码</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" placeholder="+86" />
        </div>
    </div>
</div>
<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" ui-sref="touristls" id="showTooltips">保存修改</a>
</div>
