<!-- 
description 这是选取路线的界面
router:#!/choseroute
 -->
<div class="weui-cells">
 <div class="page">
    <div class="page__hd" style="margin-left:2px">
        <p class="page__desc"><img src="weui/src/example/images/mudidi.png" alt="">按目的地选</p>
    </div>
    <div class="page__bd">
        <article class="weui-article">
                <section> 
                    <p>
                        <img src="weui/src/example/images/trip5.png" alt="">
                    </p>
                </section>
        </article>
    </div>
 </div>
</div>
<!-- 第一种目的地选择-->
<div class="page">
    <div class="page__hd" style="margin-left:2px">
        <p class="page__desc"><img src="weui/src/example/images/xin.png" alt="">您可能感兴趣的目的地</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="weui-flex">
            <div class="weui-flex__item">
               <div class="placeholder"> 
                  <div class="page__bd">
                   <article class="weui-article">
                     <section> 
                       <p>
                        <a ui-sref="routes">
                        <img src="weui/src/example/images/England.png" alt="">
                         </a>
                       </p>
                       <p>
                        英国
                       </p>
                     </section>
                   </article>
                  </div>
               </div>
            </div>
            <div class="weui-flex__item">
               <div class="placeholder"> 
                  <div class="page__bd">
                   <article class="weui-article">
                     <section> 
                       <p>
                       <a ui-sref="routes">
                        <img src="weui/src/example/images/Germany.png" alt="">
                        </a>
                       </p>
                        德国
                       </p>
                     </section>
                   </article>
                  </div>
               </div>
            </div>
           <div class="weui-flex__item">
               <div class="placeholder"> 
                  <div class="page__bd">
                   <article class="weui-article">
                     <section> 
                       <p>
                       <a ui-sref="routes">
                        <img src="weui/src/example/images/France.png" alt="">
                        </a>
                       </p>
                       <p>
                        法国
                       </p>
                     </section>
                   </article>
                  </div>
               </div>
            </div>
        </div>
    </div>
<div class="weui-cells">
 <div class="page">
    <div class="page__hd" style="margin-left:2px">
        <p class="page__desc"><img src="weui/src/example/images/xiaolian.png" alt="">您可能感兴趣的玩法</p>
    </div>
    <div class="page__bd">
        <article class="weui-article">
                <section> 
                    <a ui-sref="classic">
                        <img src="weui/src/example/images/trip4.png" alt="">
                    </a>
                </section>
        </article>
    </div>
 </div>
</div>
<div class="weui-cells">
 <div class="page">
    <div class="page__hd" style="margin-left:2px">
        <p class="page__desc"><img src="weui/src/example/images/xiaolian.png" alt="">您可能感兴趣的路线</p>
    </div>
    <div class="page__bd">
        <article class="weui-article">
                <section> 
                    <p>
                        <img src="weui/src/example/images/trip2.png" alt="">
                    </p>
                   <font size="2">
                        全程无自费，点评过百，私人沙滩，两晚椰子岛，VILLA别墅，海豚岛，送大堡礁帝王岛。
                     </font>
                </section>
        </article>
    </div>
    <div class="page__bd">
        <article class="weui-article">
                <section> 
                    <p>
                        <img src="weui/src/example/images/trip3.png" alt="">
                    </p>
                    <font size="2">
                         包机直飞，升级2晚国五，赠京津交通，PP岛环岛游，帝王岛，攀牙湾泛舟，情人沙滩，人妖歌舞表演，骑大象观大象 
                    </font>
                </section>
        </article>
    </div>
 </div>
</div>