<!-- 
description 经典小团界面
router:#!/classic
 -->
<br>
<div class="weui-flex" style="margin-left:10px">
    <div class="weui-flex__item">
        <div class="placeholder"><a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">精 选</a></div>
    </div>
    <div class="weui-flex__item">
        <div class="placeholder"><a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">欧 洲</a></div>
    </div>
    <div class="weui-flex__item">
        <div class="placeholder"><a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">美 洲</a></div>
    </div>
    <div class="weui-flex__item">
        <div class="placeholder"><a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">澳 洲</a></div>
    </div>
</div>
<div class="weui-flex" style="margin-left:10px">
    <div class="weui-flex__item">
        <div class="placeholder"><a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">中东非</a></div>
    </div>
    <div class="weui-flex__item">
        <div class="placeholder"><a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">东南亚</a></div>
    </div>
    <div class="weui-flex__item">
        <div class="placeholder"><a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">日 本</a></div>
    </div>
    <div class="weui-flex__item">
        <div class="placeholder"><a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">韩 国</a></div>
    </div>
</div>
<br>
<font color="red" size="2">共找到127份推荐路线 总价包含机票税费</font>
    <div class="page">
        <div class="page__hd">
        </div>
        <div class="page__bd">
            <div class="weui-form-preview">
                <div class="weui-form-preview__hd">
                    <label class="weui-form-preview__label">天津-伦敦（5天）</label>
                    <em class="weui-form-preview__value">¥8070/人</em>
                </div>
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">价格详情</label>
                        <font class="weui-form-preview__value" color="red">总价￥10070 已省￥2000</font>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">热卖</label>
                        <span class="weui-form-preview__value">No.1</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">好评</label>
                        <span class="weui-form-preview__value">No.1</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <div class="page">
                            <div class="page__hd">
                                <div class="page__bd">
                                    <div class="weui-panel weui-panel_access">
                                        <div class="weui-panel__hd">希尔顿国际酒店</div>
                                        <div class="weui-panel__bd">
                                            <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                                                <div class="weui-media-box__hd">
                                                    <img class="weui-media-box__thumb" src="weui/src/example/images/HOTEL.png" alt="">
                                                </div>
                                                <div class="weui-media-box__bd">
                                                    <h4 class="weui-media-box__title">标准房</h4>
                                                    <p class="weui-media-box__desc">一间一晚</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">去</label>
                        <span class="weui-form-preview__value">21:45-19:15+1 东方航空MU2048</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">返</label>
                        <span class="weui-form-preview__value">17:45-00:05+2 法国航空AM5083</span>
                    </div>
                    <div class="weui-form-preview__ft">
                        <a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:">收藏</a>
                        <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" ui-sref="clsdetail">立即预定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="page">
        <div class="page__hd">
        </div>
        <div class="page__bd">
            <div class="weui-form-preview">
                <div class="weui-form-preview__hd">
                    <label class="weui-form-preview__label">天津-伦敦（5天）</label>
                    <em class="weui-form-preview__value">¥8070/人</em>
                </div>
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">价格详情</label>
                        <font class="weui-form-preview__value" color="red">总价￥10070 已省￥2000</font>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">热卖</label>
                        <span class="weui-form-preview__value">No.1</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">好评</label>
                        <span class="weui-form-preview__value">No.1</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <div class="page">
                            <div class="page__hd">
                                <div class="page__bd">
                                    <div class="weui-panel weui-panel_access">
                                        <div class="weui-panel__hd">希尔顿国际酒店</div>
                                        <div class="weui-panel__bd">
                                            <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                                                <div class="weui-media-box__hd">
                                                    <img class="weui-media-box__thumb" src="weui/src/example/images/HOTEL.png" alt="">
                                                </div>
                                                <div class="weui-media-box__bd">
                                                    <h4 class="weui-media-box__title">标准房</h4>
                                                    <p class="weui-media-box__desc">一间一晚</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">去</label>
                        <span class="weui-form-preview__value">21:45-19:15+1 东方航空MU2048</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">返</label>
                        <span class="weui-form-preview__value">17:45-00:05+2 法国航空AM5083</span>
                    </div>
                    <div class="weui-form-preview__ft">
                        <a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:">收藏</a>
                        <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" ui-sref="clsdetail">立即预定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
