<!-- 
description 这是首页页面 
router:#!/home
 -->
<div class="page">
    <div class="page__hd">
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="weui-flex">
            <div>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p>天津</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-flex__item">
                <div class="placeholder">
                    <div class="page">
                        <div class="page__bd">
                            <!--<a href="javascript:;" class="weui-btn weui-btn_primary">点击展现searchBar</a>-->
                            <div class="weui-search-bar" id="searchBar" style="margin-top:2px">
                                <form class="weui-search-bar__form">
                                    <div class="weui-search-bar__box">
                                        <i class="weui-icon-search"></i>
                                        <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required/>
                                        <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                                    </div>
                                    <label class="weui-search-bar__label" id="searchText">
                                        <i class="weui-icon-search"></i>
                                        <span>搜索</span>
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="placeholder" style="margin-right:5px;margin-left:5px;margin-top:7px">
                    <a ui-sref="personal"><img src="{{user.headImg.headImgUrl}}" alt="" height="40" width="40"  class="img-circle"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="page__ft">
    </div>
</div>
<br>
<div style="margin-left:20px">
    <font color="orange" style="font-weight:bold">Hi~ Frank!</font>
</div>
<br>
<div class="weui-flex">
    <div class="weui-flex__item" style="margin-right:20px;margin-left:20px">
        <div class="placeholder"> <a ui-sref="toinvite" class="weui-btn weui-btn_warn" style="background:orange">发布邀约</a></div>
    </div>
    <div class="weui-flex__item" style="margin-right:20px;margin-left:20px">
        <div class="placeholder"><a ui-sref="invitedls" class="weui-btn weui-btn_warn " style="background:orange">寻找邀约</a></div>
    </div>
</div>
<div class="weui-cell " style="margin-left:5px ">
    <h4 class="title ">最新邀约</h4>
</div>
<div class="weui-flex " style="margin-left:15px ">
    <div class="weui-flex__item ">
        <div class="placeholder "><a href="javascript:; " class="weui-btn weui-btn_mini weui-btn_primary " style="width:70px;height:30px">精 选</a></div>
    </div>
    <div class="weui-flex__item " ng-repeat="region in homeRegions">
        <div class="placeholder "><button href="javascript:; " class="weui-btn weui-btn_mini weui-btn_default " style="width:70px;height:30px">{{region}}</button></div>
    </div>
</div>
<div class="weui-flex " style="margin-left:15px ">
    <div class="weui-flex__item " ng-repeat="city in homeCitys">
        <div class="placeholder "><button href="javascript:; " class="weui-btn weui-btn_mini weui-btn_default " style="width:70px;height:30px">{{city}}</button></div>
    </div>
</div>
<br>
<div class="page ">
    <div class="page__hd ">
    </div>
    <div class="page__bd ">
        <div class="weui-form-preview ">
            <div class="weui-form-preview__hd ">
                <div class="weui-form-preview__item ">
                    <div class="weui-cells ">
                        <div class="weui-cell ">
                            <div class="weui-cell__hd "><img src="weui/src/example/images/head1.png " alt=" " style="width:80px;margin-right:5px;display:block "></div>
                            <div class="weui-cell__bd ">
                                <p>张三 ♂ 31岁</p>
                            </div>
                            <div class="weui-cell__ft "></div>
                        </div>
                    </div>
                </div>
                <div class="weui-form-preview__item ">
                    <div class="weui-flex">
                        <div class="weui-flex__item">
                            <div class="placeholder"></div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="placeholder"><img src="weui/src/example/images/lhead1.png " alt=" " style="width:30px;margin-right:5px;margin-top:8px;display:block "></div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="placeholder"><img src="weui/src/example/images/lhead3.png " alt=" " style="width:30px;margin-right:5px;margin-top:8px;display:block "></div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="placeholder"><img src="weui/src/example/images/lhead5.png " alt=" " style="width:30px;margin-right:5px;margin-top:8px;display:block "></div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="placeholder">
                                <a ui-sref="topay"><img src="weui/src/example/images/whitehead.png " alt=" " style="width:30px;margin-right:5px;margin-top:8px;display:block "></a>
                                <font size="1" color="red">￥10,000.00</font>
                            </div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="placeholder">
                                <a ui-sref="topay"><img src="weui/src/example/images/whitehead.png " alt=" " style="width:30px;margin-right:5px;margin-top:8px;display:block "></a>
                                <font size="1" color="red">￥0.01</font>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui-form-preview__bd ">
                <div class="weui-form-preview__item ">
                    <label class="weui-form-preview__label ">距结束</label>
                    <span class="weui-form-preview__value ">01:15:23</span>
                </div>
                <div class="weui-form-preview__item ">
                    <label class="weui-form-preview__label ">出发地</label>
                    <span class="weui-form-preview__value ">北京</span>
                </div>
                <div class="weui-form-preview__item ">
                    <label class="weui-form-preview__label ">出发时间</label>
                    <span class="weui-form-preview__value ">2016.12.01</span>
                </div>
                <div class="weui-form-preview__item ">
                    <label class="weui-form-preview__label ">详情</label>
                    <span class="weui-form-preview__value ">英国九日游，北京往返直飞，入住泳池别墅，2晚国五酒店，畅游伦敦</span>
                </div>
                <div class="weui-form-preview__item ">
                    <label class="weui-form-preview__label ">总价</label>
                    <span class="weui-form-preview__value ">60000</span>
                </div>
                <div class="weui-form-preview__item ">
                    <label class="weui-form-preview__label ">已支付</label>
                    <span class="weui-form-preview__value ">50000</span>
                </div>
                <div class="weui-form-preview__item ">
                    <label class="weui-form-preview__label ">可省</label>
                    <font class="weui-form-preview__value " color="red ">￥10,000.00</font>
                </div>
            </div>
            <div class="page__bd page__bd_spacing">
                <a ui-sref="ivdetail" class="weui-btn weui-btn_primary" style="margin-right:20px;margin-left:20px;margin-top: 20px;margin-bottom: 10px">
   ￥0.01
        </a>
            </div>
        </div>
        <br>
        <div class="weui-form-preview ">
            <div class="weui-form-preview__hd ">
                <div class="weui-form-preview__item ">
                    <div class="weui-cells ">
                        <div class="weui-cell ">
                            <div class="weui-cell__hd "><img src="weui/src/example/images/head2.png " alt=" " style="width:80px;margin-right:5px;display:block "></div>
                            <div class="weui-cell__bd ">
                                <p>张三 ♂ 31岁</p>
                            </div>
                            <div class="weui-cell__ft "></div>
                        </div>
                    </div>
                </div>
                <div class="weui-form-preview__item ">
                    <div class="weui-flex">
                        <div class="weui-flex__item">
                            <div class="placeholder"></div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="placeholder"><img src="weui/src/example/images/lhead1.png " alt=" " style="width:30px;margin-right:5px;margin-top:8px;display:block "></div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="placeholder"><img src="weui/src/example/images/lhead3.png " alt=" " style="width:30px;margin-right:5px;margin-top:8px;display:block "></div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="placeholder"><img src="weui/src/example/images/lhead5.png " alt=" " style="width:30px;margin-right:5px;margin-top:8px;display:block "></div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="placeholder">
                                <a ui-sref="topay"><img src="weui/src/example/images/whitehead.png " alt=" " style="width:30px;margin-right:5px;margin-top:8px;display:block "></a>
                                <font size="1" color="red">￥10,000.00</font>
                            </div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="placeholder">
                                <a ui-sref="topay"><img src="weui/src/example/images/whitehead.png " alt=" " style="width:30px;margin-right:5px;margin-top:8px;display:block "></a>
                                <font size="1" color="red">￥0.01</font>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weui-form-preview__bd ">
                <div class="weui-form-preview__item ">
                    <label class="weui-form-preview__label ">距结束</label>
                    <span class="weui-form-preview__value ">01:15:23</span>
                </div>
                <div class="weui-form-preview__item ">
                    <label class="weui-form-preview__label ">出发地</label>
                    <span class="weui-form-preview__value ">北京</span>
                </div>
                <div class="weui-form-preview__item ">
                    <label class="weui-form-preview__label ">出发时间</label>
                    <span class="weui-form-preview__value ">2016.12.01</span>
                </div>
                <div class="weui-form-preview__item ">
                    <label class="weui-form-preview__label ">详情</label>
                    <span class="weui-form-preview__value ">英国九日游，北京往返直飞，入住泳池别墅，2晚国五酒店，畅游伦敦</span>
                </div>
                <div class="weui-form-preview__item ">
                    <label class="weui-form-preview__label ">总价</label>
                    <span class="weui-form-preview__value ">60000</span>
                </div>
                <div class="weui-form-preview__item ">
                    <label class="weui-form-preview__label ">已支付</label>
                    <span class="weui-form-preview__value ">50000</span>
                </div>
                <div class="weui-form-preview__item ">
                    <label class="weui-form-preview__label ">可省</label>
                    <font class="weui-form-preview__value " color="red ">￥1,0000.00</font>
                </div>
            </div>
            <div class="page__bd page__bd_spacing">
                <a ui-sref="ivdetail" class="weui-btn weui-btn_primary" style="margin-right:20px;margin-left:20px;margin-top: 20px;margin-bottom: 10px">
      ￥1,0000.00
        </a>
            </div>
        </div>
    </div>
</div>
<br>
<script type="text/javascript">
$(function() {
    var $searchBar = $('#searchBar'),
        $searchResult = $('#searchResult'),
        $searchText = $('#searchText'),
        $searchInput = $('#searchInput'),
        $searchClear = $('#searchClear'),
        $searchCancel = $('#searchCancel');

    function hideSearchResult() {
        $searchResult.hide();
        $searchInput.val('');
    }

    function cancelSearch() {
        hideSearchResult();
        $searchBar.removeClass('weui-search-bar_focusing');
        $searchText.show();
    }

    $searchText.on('click', function() {
        $searchBar.addClass('weui-search-bar_focusing');
        $searchInput.focus();
    });
    $searchInput
        .on('blur', function() {
            if (!this.value.length) cancelSearch();
        })
        .on('input', function() {
            if (this.value.length) {
                $searchResult.show();
            } else {
                $searchResult.hide();
            }
        });
    $searchClear.on('click', function() {
        hideSearchResult();
        $searchInput.focus();
    });
    $searchCancel.on('click', function() {
        cancelSearch();
        $searchInput.blur();
    });
});
</script>
