<!-- 
description 房型界面
router:#!/hourse
 -->
<div class="page">
    <div class="page__hd">
    </div>
    <div class="page__bd">
        <article class="weui-article">
            <section>
                <section>
                    <p>
                        <img src="weui/src/example/images/top1.png" alt="" style="width:100%;display:block;margin-right:0px;margin-left:0px;margin-top: 1px">
                    </p>
                </section>
            </section>
        </article>
    </div>
</div>
<form name="myForm">
    <div class="page" style="margin-left:15px;margin-right:15px">
        <div class="page__hd">
            <p class="page__desc">选择房间：</p>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell weui-cell_switch">
                    <div class="weui-cell__bd">是否公开订单</div>
                    <div class="weui-cell__ft">
                        <label for="switchCP" class="weui-switch-cp">
                            <input id="switchCP" class="weui-switch-cp__input" type="checkbox" ng-model="isPublic" ng-true-value="1" ng-false-value="0" />
                            <div class="weui-switch-cp__box"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label for="exampleInput" class="weui-label">订单截止时间</label>
            </div>
            <div class="weui-cell__bd">
                <input id="exampleInput" class="weui-input" type="datetime-local" placeholder="yyyy-MM-ddTHH:mm:ss" ng-model="deadLine" />
            </div>
        </div>
        <hr>
      
            <div class="weui-flex">
                <div class="weui-flex__item" style="margin-right:20px;margin-left:10px">
                    <div class="placeholder">
                        <button class="weui-btn weui-btn_plain-default" style="width:180px" ng-click="setOptions(1,firstRoom.money)">
                            <div class="weui-cell">
                                <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                                    <img src="weui/src/example/images/whitehead.png" style="width: 50px;display: block" />
                                </div>
                                <div class="weui-cell__bd">
                                    <p style="width:60px;height:80px;">{{firstRoom.sex | format}}{{firstRoom.old | oldFilter}}</p>
                                    <p style="font-size: 13px;color: #888888;height:20px;width:70px">{{firstRoom.money | currency: '¥'}}</p>
                                </div>
                            </div>
                        </button>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <input type="radio" ng-model="payRoomNumber" ng-value="1" class="weui-agree__checkbox"> 支付
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weui-flex__item">
                    <div class="placeholder">
                        <button class="weui-btn weui-btn_plain-default" style="width:180px" ng-click="setOptions(2,scendRoom.money)">
                            <div class="weui-cell">
                                <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                                    <img src="weui/src/example/images/whitehead.png" style="width: 50px;display: block" />
                                </div>
                                <div class="weui-cell__bd">
                                    <p style="width:60px;height:80px;">{{scendRoom.sex | format}}{{scendRoom.old | oldFilter}}</p>
                                    <p style="font-size: 13px;color: #888888;height:20px;width:70px">{{scendRoom.money | currency: '¥'}}</p>
                                </div>
                            </div>
                        </button>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <input type="radio" ng-model="payRoomNumber" ng-value="2" class="weui-agree__checkbox"> 支付
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="weui-flex">
                <div class="weui-flex__item" style="margin-right:20px;margin-left:10px">
                    <div class="placeholder">
                        <button class="weui-btn weui-btn_plain-default" style="width:180px" ng-click="setOptions(3,thirdRoom.money )">
                            <div class="weui-cell">
                                <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                                    <img src="weui/src/example/images/whitehead.png" style="width: 50px;display: block" />
                                </div>
                                <div class="weui-cell__bd">
                                    <p style="width:60px;height:80px;">{{thirdRoom.sex | format}}{{thirdRoom.old | oldFilter}}</p>
                                    <p style="font-size: 13px;color: #888888;height:20px;width:70px">{{thirdRoom.money | currency: '¥'}}</p>
                                </div>
                            </div>
                        </button>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <input type="radio" ng-model="payRoomNumber" ng-value="3" class="weui-agree__checkbox"> 支付
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weui-flex__item">
                    <div class="placeholder">
                        <button class="weui-btn weui-btn_plain-default" style="width:180px" ng-click="setOptions(4,fourthRoom.money)">
                            <div class="weui-cell">
                                <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                                    <img src="weui/src/example/images/whitehead.png" style="width: 50px;display: block" />
                                </div>
                                <div class="weui-cell__bd">
                                    <p style="width:60px;height:80px;">{{fourthRoom.sex | format}}{{fourthRoom.old | oldFilter}}</p>
                                    <p style="font-size: 13px;color: #888888;height:20px;width:70px">{{fourthRoom.money | currency: '¥'}}</p>
                                </div>
                            </div>
                        </button>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <input type="radio" ng-model="payRoomNumber" ng-value="4" class="weui-agree__checkbox"> 支付
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="weui-flex">
                <div class="weui-flex__item" style="margin-right:20px;margin-left:10px">
                    <div class="placeholder">
                        <button class="weui-btn weui-btn_plain-default" style="width:180px" ng-click="setOptions(5, fifthRoom.money)">
                            <div class="weui-cell">
                                <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                                    <img src="weui/src/example/images/whitehead.png" style="width: 50px;display: block" />
                                </div>
                                <div class="weui-cell__bd">
                                    <p style="width:60px;height:80px;">{{fifthRoom.sex | format}}{{fifthRoom.old | oldFilter}}</p>
                                    <p style="font-size: 13px;color: #888888;height:20px;width:70px">{{fifthRoom.money | currency: '¥'}}</p>
                                </div>
                            </div>
                        </button>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <input type="radio" ng-model="payRoomNumber" ng-value="5" class="weui-agree__checkbox"> 支付
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weui-flex__item">
                    <div class="placeholder">
                        <button class="weui-btn weui-btn_plain-default" style="width:180px" ng-click="setOptions(6, sixthRoom.money)">
                            <div class="weui-cell">
                                <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                                    <img src="weui/src/example/images/whitehead.png" style="width: 50px;display: block" />
                                </div>
                                <div class="weui-cell__bd">
                                    <p style="width:60px;height:80px;">{{sixthRoom.sex | format}}{{sixthRoom.old | oldFilter}}</p>
                                    <p style="font-size: 13px;color: #888888;height:20px;width:70px">{{sixthRoom.money | currency: '¥'}}</p>
                                </div>
                            </div>
                        </button>
                        <div class="weui-cell">
                            <div class="weui-cell__bd">
                                <input type="radio" ng-model="payRoomNumber" ng-value="6" class="weui-agree__checkbox"> 支付
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <br>
    </div>
    <hr>
    <label for="weuiAgree" class="weui-agree">
        <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox"  ng-model='isAgree' required>
        <span class="weui-agree__text">
                我已阅读并接受<a href="javascript:void(0);">预定须知、合同、保险等条款</a>
            </span>
    </label>
    <div class="weui-btn-area">
        <button  class="weui-btn weui-btn_primary" id="showTooltips"  ng-click="submit()"  ng-disabled="isAgree == false">去支付</button>
    </div>
</form>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">设置房间人信息</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <ul>
            <li ng-repeat="old in olds">
                <a href="#" ng-click="$event.preventDefault(); selected.old = old">{{ old | oldFilter}}</a>
            </li>
        </ul>
        年龄: <b>{{ selected.old | oldFilter}}</b>
        <ul>
            <li ng-repeat="sex in sexs">
                <a href="#" ng-click="$event.preventDefault(); selected.sex = sex">{{ sex | format}}</a>
            </li>
        </ul>
        性别: <b>{{ selected.sex | format}}</b>
        <br>
        <div>金额:
            <input type="number" max="{{maxMoney}}" min="0" placeholder="还需要{{maxMoney | currency: '¥'}}" ng-model="selected.money"><p>还需要{{maxMoney | currency: '¥'}}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
