<!-- 
description 房型界面
router:#!/hourse
 -->
<div class="page">
    <div class="page__hd">
    </div>
    <div class="page__bd">
        <article class="weui-article">
            <section>
                <section>
                    <p>
                        <img src="weui/src/example/images/top1.png" alt="" style="width:100%;display:block;margin-right:0px;margin-left:0px;margin-top: 1px">
                    </p>
                </section>
            </section>
        </article>
    </div>
</div>
<div class="page" style="margin-left:15px;margin-right:15px">
    <div class="page__hd">
        <p class="page__desc">选择房间：</p>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell weui-cell_switch">
                <div class="weui-cell__bd">是否公开订单</div>
                <div class="weui-cell__ft">
                    <label for="switchCP" class="weui-switch-cp">
                        <input id="switchCP" class="weui-switch-cp__input" type="checkbox" checked="checked" />
                        <div class="weui-switch-cp__box"></div>
                    </label>
                </div>
            </div>
        </div>
    </div>
     <div class="weui-cell">
                <div class="weui-cell__hd"><label for="" class="weui-label">订单截止时间</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="datetime-local" value="" placeholder=""/>
                </div>
            </div>
<hr>
<div class="weui-flex">
    <div class="weui-flex__item" style="margin-right:20px;margin-left:10px">
        <div class="placeholder"> 
         <a ui-sref="" class="weui-btn weui-btn_plain-default" style="width:160px"> 
             <div class="weui-cell">
                <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                    <img src="weui/src/example/images/lhead1.png" style="width: 50px;display: block"/>
                </div>
                <div class="weui-cell__bd">
                    <p>♀</p>
                    <p style="font-size: 13px;color: #888888;">￥5,0000.00</p>
                </div>
             </div>
          </a>
          <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>已支付</p>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-flex__item" >
      <div class="placeholder">
       <a ui-sref="" class="weui-btn weui-btn_plain-default" style="width:160px" style="margin-right:20px;margin-left:20px">
          <div class="weui-cell">
                <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                    <img src="weui/src/example/images/lhead2.png" style="width: 50px;display: block"/>
                </div>
                <div class="weui-cell__bd">
                    <p>♀</p>
                    <p style="font-size: 13px;color: #888888;">￥0.01</p>
                </div>
          </div>
       </a>
        <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>已支付</p>
                </div>
            </div>
      </div>
      </div>
</div>
<hr>
<div class="weui-flex">
    <div class="weui-flex__item" style="margin-right:20px;margin-left:10px">
        <div class="placeholder"> 
         <a ui-sref="" class="weui-btn weui-btn_plain-default" style="width:160px"> 
             <div class="weui-cell">
                <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                    <img src="weui/src/example/images/lhead5.png" style="width: 50px;display: block"/>
                </div>
                <div class="weui-cell__bd">
                    <p>♂</p>
                    <p style="font-size: 13px;color: #888888;">￥0.01</p>
                </div>
             </div>
          </a>
           <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>未支付</p>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-flex__item">
      <div class="placeholder">
       <a ui-sref="" class="weui-btn weui-btn_plain-default" style="width:160px" style="margin-right:20px;margin-left:20px">
          <div class="weui-cell">
                <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                    <img src="weui/src/example/images/whitehead.png" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;"></span>
                </div>
                <div class="weui-cell__bd">
                    <p>♂</p>
                    <p style="font-size: 13px;color: #888888;">￥0.01</p>
                </div>
          </div>
       </a>
       <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>未受邀</p>
                </div>
            </div>
      </div>
      </div>
</div>
<hr>
<div class="weui-flex">
    <div class="weui-flex__item" style="margin-right:20px;margin-left:10px">
        <div class="placeholder"> 
         <a ui-sref="topay" class="weui-btn weui-btn_plain-default" style="width:160px"> 
             <div class="weui-cell">
                <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                    <img src="weui/src/example/images/whitehead.png" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">可选</span>
                </div>
                <div class="weui-cell__bd">
                    <p>♀</p>
                    <p style="font-size: 13px;color: #888888;">￥10,000.00</p>
                </div>
             </div>
          </a>
          <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>未受邀</p>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-flex__item" >
      <div class="placeholder">
       <a ui-sref="topay" class="weui-btn weui-btn_plain-default" style="width:160px">
          <div class="weui-cell">
                <div class="weui-cell__hd" style="position: relative" style="margin-right:20px;margin-left:20px">
                    <img src="weui/src/example/images/whitehead.png" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">可选</span>
                </div>
                <div class="weui-cell__bd">
                    <p>♀</p>
                    <p style="font-size: 13px;color: #888888;">￥0.01</p>
                </div>
          </div>
       </a>
       <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>未受邀</p>
                </div>
            </div>
      </div>
      </div>
</div>
<br>
</div>
<hr>
        <label for="weuiAgree" class="weui-agree">
            <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox">
            <span class="weui-agree__text">
                我已阅读并接受<a href="javascript:void(0);">预定须知、合同、保险等条款</a>
            </span>
        </label>
<div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" ui-sref="topay" id="showTooltips">去支付</a>
 </div>
