<!-- 
description 这是邀约的列表页面 
router:#!/invitedls
 -->
<div class="weui-flex" style="margin-left:15px">
    <div class="weui-flex__item" style="margin-left:8px">
        <div class="placeholder btn-group">
            <button ng-click="getStartCitys()" class="weui-btn weui-btn_mini weui-btn_default btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">出发地&nbsp&nbsp<span class="caret"></button>
              <ul class="dropdown-menu">
                <li ng-repeat="startCity in startCitys"><a ng-click="getInvitationsByStartCityId(startCity.id)">{{startCity.name}}</a></li>
              </ul>
        </div>
    </div>
    <div class="weui-flex__item" style="margin-left:8px"> <div class="placeholder btn-group">
            <button ng-click="getDestinationCountrys()" class="weui-btn weui-btn_mini weui-btn_default btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">目的地&nbsp&nbsp<span class="caret"></button>
              <ul class="dropdown-menu">
                <li ng-repeat="destinationCountry in destinationCountrys"><a ng-click="getInvitationsByCountryId(destinationCountry.id)">{{destinationCountry.name}}</a></li>
              </ul>
        </div></div>
    <div class="weui-flex__item" style="margin-left:8px"><div class="placeholder"><a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">出发时</a></div></div>
    <div class="weui-flex__item" style="margin-left:8px"><div class="placeholder"><a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">价格</a></div></div>
</div>
<div class="page ">
    <div class="page__hd ">
    </div>
    <div class="page__bd ">
        <div class="weui-form-preview " ng-repeat="invitation in invitations">
            <div class="weui-form-preview__hd ">
                <div class="weui-form-preview__item ">
                    <div class="weui-cells ">
                        <div class="weui-cell ">
                            <div class="weui-cell__hd "><img src="{{urlPrefix + invitation.customer_head_img_url}}" alt=" " style="margin-right:5px;display:block " height="60" width="60" class="img-circle"></div>
                            <div class="weui-cell__bd ">
                                <p>{{invitation.customer_nick_name}} ♂ {{invitation.customer_birthday | ageFilter}}岁</p>
                            </div>
                            <div class="weui-cell__ft "></div>
                        </div>
                    </div>
                </div>
                <div class="weui-form-preview__item ">
                    <div class="weui-flex">
                        <div class="weui-flex__item">
                            <div class="placeholder"></div>
                        </div>
                        <div class="weui-flex__item" ng-repeat="bed in  invitation.beds">
                            <div class="placeholder" ng-if="bed.customer_id !== invitation.customer_id">
                                <!-- 用customer_id是否为0判断是否该床位是否有人 -->
                                <img src="{{urlPrefix + bed.customer_head_img_url}} " alt=" " style="margin-right:5px;margin-top:8px;display:block " height="30" width="30" class="img-circle" ng-if="bed.customer_id !== 0 ">
                                <div ng-if="bed.customer_id === 0">
                                    <img src="weui/src/example/images/whitehead.png" alt=" " style="margin-right:5px;margin-top:8px;display:block " height="30" width="30" class="img-circle">
                                    <font size="1" color="red">{{bed.money | currency: '¥'}}</font>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="weui-form-preview__bd ">
                <div class="weui-form-preview__item ">
                    <label class="weui-form-preview__label ">距结束</label>
                    <span class="weui-form-preview__value ">{{invitation.invite_deadline | hhmmss}}</span>
                </div>
               <div class="weui-form-preview__item ">
            <label class="weui-form-preview__label ">出发地</label>
            <span class="weui-form-preview__value ">{{invitation.start_city_name}}</span>
                </div>
               <div class="weui-form-preview__item ">
            <label class="weui-form-preview__label ">出发时间</label>
            <span class="weui-form-preview__value "><p ng-if="invitation.start_time_date === null">{{invitation.route_begin_time | date: 'yyyy-MM-dd'}}</p><p ng-if="invitation.start_time_date !== null">{{invitation.start_time_date | date: 'yyyy-MM-dd'}}</p></span>
              </div>
             <div class="weui-form-preview__item ">
            <label class="weui-form-preview__label ">详情</label>
            <span class="weui-form-preview__value ">{{invitation.route_content}}</span>
              </div>
            <div class="weui-form-preview__item ">
            <label class="weui-form-preview__label ">总价</label>
            <span class="weui-form-preview__value ">{{invitation.totalMoney}}</span>
            </div>
              <div class="weui-form-preview__item ">
            <label class="weui-form-preview__label ">已支付</label>
            <span class="weui-form-preview__value ">{{invitation.beds | payedMoney | currency: '¥'}}</span>
            </div>
             <div class="weui-form-preview__item ">
            <label class="weui-form-preview__label ">最高可省</label>
            <font class="weui-form-preview__value " color="red ">{{invitation | savemaxmoney | currency: '¥'}}</font>
              </div>
          </div>
    <div class="page__bd page__bd_spacing">
        <button ui-sref="ivdetail({invitationIndex: $index})" class="weui-btn weui-btn_primary" style="margin-right:40px;margin-left:20px;margin-top: 20px;margin-bottom: 10px" ng-disabled="invitation.type === 1">
            <p ng-if="invitation.type === 1">已经下架</p>
            <p ng-if="invitation.type !== 1">{{invitation | minvalue | currency: '¥'}}</p>
        </button>
    </div>
    <br>
</div>
</div>
</div>
