<!-- 
description 这是邀约的列表页面 
router:#!/invitedls
 -->
<div class="weui-flex" style="margin-left:15px">
    <div class="weui-flex__item" style="margin-left:8px"><div class="placeholder"><a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">出发地</a></div></div>
    <div class="weui-flex__item" style="margin-left:8px"><div class="placeholder"><a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">目的地</a></div></div>
    <div class="weui-flex__item" style="margin-left:8px"><div class="placeholder"><a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">出发时</a></div></div>
    <div class="weui-flex__item" style="margin-left:8px"><div class="placeholder"><a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">价格</a></div></div>
</div>
<div class="page">
    <div class="page__hd">
    </div>
    <div class="page__bd">
        <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
                <div class="weui-form-preview__item">
                  <div class="weui-cells">
                    <div class="weui-cell">
                       <div class="weui-cell__hd"><img src="weui/src/example/images/head1.png" alt="" style="width:80px;margin-right:5px;display:block"></div>
                       <div class="weui-cell__bd">
                         <p>张三 ♂ 31岁</p>
                       </div>
                <div class="weui-cell__ft"></div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">距结束</label>
                    <span class="weui-form-preview__value">01:15:23</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">出发地</label>
                    <span class="weui-form-preview__value">北京</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">出发时间</label>
                    <span class="weui-form-preview__value">2016.12.01</span>
                </div>
                 <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">详情</label>
                    <span class="weui-form-preview__value">英国九日游，北京往返直飞，入住泳池别墅，2晚国五酒店，畅游伦敦</span>
                </div>
                 <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">总价</label>
                    <span class="weui-form-preview__value">60000</span>
                </div>
                 <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">已支付</label>
                    <span class="weui-form-preview__value">50000</span>
                </div>
                 <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">邀约</label>
                    <span class="weui-form-preview__value">已售3人，还剩3人</span>
                </div>
                 <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">可省</label>
                    <font class="weui-form-preview__value" color="red">￥10000</font>
                </div>
            </div>
            <div class="weui-form-preview__ft">
                <a class="weui-form-preview__btn weui-form-preview__btn_primary" ui-sref="ivdetail">0￥起</a>
            </div>
        </div>
        <br>
        <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
                <div class="weui-form-preview__item">
                  <div class="weui-cells">
                    <div class="weui-cell">
                       <div class="weui-cell__hd"><img src="weui/src/example/images/head2.png" alt="" style="width:80px;margin-right:5px;display:block"></div>
                       <div class="weui-cell__bd">
                         <p>张三 ♂ 31岁</p>
                       </div>
                <div class="weui-cell__ft"></div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">距结束</label>
                    <span class="weui-form-preview__value">01:15:23</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">出发地</label>
                    <span class="weui-form-preview__value">北京</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">出发时间</label>
                    <span class="weui-form-preview__value">2016.12.01</span>
                </div>
                 <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">详情</label>
                    <span class="weui-form-preview__value">英国九日游，北京往返直飞，入住泳池别墅，2晚国五酒店，畅游伦敦</span>
                </div>
                 <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">总价</label>
                    <span class="weui-form-preview__value">60000</span>
                </div>
                 <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">已支付</label>
                    <span class="weui-form-preview__value">50000</span>
                </div>
                 <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">邀约</label>
                    <span class="weui-form-preview__value">已售3人，还剩3人</span>
                </div>
                 <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">可省</label>
                    <font class="weui-form-preview__value" color="red">￥6666</font>
                </div>
            </div>
            <div class="weui-form-preview__ft">
                <a class="weui-form-preview__btn weui-form-preview__btn_primary" ui-sref="ivdetail">3333￥起</a>
            </div>
        </div>
    </div>
</div>
<br>
