<!-- 
description 这是首页页面 
router:#!/ivdetail
 -->
<div class="page">
    <div class="page__bd">
        <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">路线详情：</label>
                </div>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <span class="weui-form-preview__value"><泰国-普吉岛-甲米6或7日游>天津往返直飞，入住泳池别墅，2晚国五酒店，无自费，畅游甲米，大堡礁浮潜，幻多奇主题乐园，预定赠送出海跟拍
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page">
    <div class="page__bd">
        <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">需支付金额</label>
                    <font class="weui-form-preview__value" color="red">￥5000</font>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">出发时间</label>
                    <span class="weui-form-preview__value">2016-11-06</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">归来时间</label>
                    <span class="weui-form-preview__value">2016-11-10</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">邀请人数</label>
                    <span class="weui-form-preview__value">3人</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label"></label>
                    <font class="weui-form-preview__value" color="red">已抢1人，还剩2人</font>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="page" style="margin-left:15px;margin-right:15px">
    <div class="page__hd">
        <p class="page__desc">选择房间：</p>
    </div>
    <div class="weui-grids">
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <font color="red">√</font>
                <div class="weui-panel__bd">
                </div>
            </div>
            <p class="weui-grid__label"> 男 31 ￥50000</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <font color="red">√</font>
                <div class="weui-panel__bd">
                </div>
            </div>
            <p class="weui-grid__label"> 男 31 ￥5000</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <font color="red">√</font>
                <div class="weui-panel__bd">
                </div>
            </div>
            <p class="weui-grid__label"> 男 31 ￥0</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <font color="green">√</font>
                <div class="weui-panel__bd">
                </div>
            </div>
            <p class="weui-grid__label"> 男 ￥5000</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <font color="green">√</font>
                <div class="weui-panel__bd">
                </div>
            </div>
            <p class="weui-grid__label"> 女 ￥0</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <div class="weui-grid__icon">
                <font color="green">√</font>
                <div class="weui-panel__bd">
                </div>
            </div>
            <p class="weui-grid__label"> 女 ￥0</p>
        </a>
    </div>
    <font color="red">*已选定为红色，未选定为绿色</font>
</div>
<div class="page__bd page__bd_spacing">
    <a ui-sref="topay" class="weui-btn weui-btn_primary" style="margin-right:20px;margin-left:20px;margin-top: 20px;margin-bottom: 10px">
       我要应邀
        </a>
</div>
