<!-- 
description 这是首页页面 
router:#!/ivdetail
 -->
<div class="page">
    <div class="page__bd">
        <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">路线详情：</label>
                </div>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <span class="weui-form-preview__value">
                    {{invitation.route_description}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page">
    <div class="page__bd">
        <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">人均支付金额</label>
                    <font class="weui-form-preview__value" color="red">{{perMoney}}</font>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">出发时间</label>
                    <span class="weui-form-preview__value">{{invitation.route_start_time | date: 'yyyy-MM-dd'}}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">归来时间</label>
                    <span class="weui-form-preview__value">2016-11-10</span>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="weui-cells__title">选择房间</div>
<br>
<hr>
<div class="weui-flex" ng-repeat="beds in invitation.beds">
    <div class="weui-flex__item" style="margin-right:20px;margin-left:10px" ng-repeat="bed in beds">
        <div class="placeholder"> 
         <button ui-sref="topay({bedIdIndex:{index:index, bedId: bed.id, money: bed.money}})" class="weui-btn weui-btn_plain-default" style="width:160px" ng-disabled="bed.isQualified !== 1"> 
             <div class="weui-cell">
                <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                    <img src="{{urlPrefix + bed.customer_head_img_url}}" style="width: 50px;display: block" class="img-circle"  height="65" width="55" ng-if="bed.customer_id !== 0 "/>
                    <img src="weui/src/example/images/whitehead.png" style="width: 50px;display: block" class="img-circle"  height="65" width="55" ng-if="bed.customer_id === 0 "/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;" ng-if="bed.isQualified === 1">可选</span>
                </div>
                <div class="weui-cell__bd">
                    <!-- <p>♀</p>-->  
                    <p style="width:60px;height:80px;">{{bed.sex | sexFilter}}{{bed.old | oldFilter}}</p>                   
                    <p style="font-size: 13px;color: #888888;height:20px;width:70px">{{bed.money | currency: '¥'}}</p>
                </div>
             </div>
          </button>
          <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p ng-if="bed.customer_id !== 0 ">已支付</p>
                    <p ng-if="bed.customer_id === 0 ">未支付</p>
                </div>
            </div>
        </div>
    </div>
<!--     <div class="weui-flex__item" >
      <div class="placeholder">
       <a ui-sref="" class="weui-btn weui-btn_plain-default" style="width:160px" style="margin-right:20px;margin-left:20px">
          <div class="weui-cell">
                <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                    <img src="weui/src/example/images/lhead2.png" style="width: 50px;display: block"/>
                </div>
                <div class="weui-cell__bd">
                    <p>♀</p>
                    <p style="font-size: 13px;color: #888888;">￥0.01</p>
                </div>
          </div>
       </a>
        <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>已支付</p>
                </div>
            </div>
      </div>
      </div> -->
</div>
<hr>
<!-- <div class="weui-flex">
    <div class="weui-flex__item" style="margin-right:20px;margin-left:10px">
        <div class="placeholder"> 
         <a ui-sref="" class="weui-btn weui-btn_plain-default" style="width:160px"> 
             <div class="weui-cell">
                <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                    <img src="weui/src/example/images/lhead5.png" style="width: 50px;display: block"/>
                </div>
                <div class="weui-cell__bd">
                    <p>♂</p>
                    <p style="font-size: 13px;color: #888888;">￥0.01</p>
                </div>
             </div>
          </a>
           <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>未支付</p>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-flex__item">
      <div class="placeholder">
       <a ui-sref="" class="weui-btn weui-btn_plain-default" style="width:160px" style="margin-right:20px;margin-left:20px">
          <div class="weui-cell">
                <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                    <img src="weui/src/example/images/whitehead.png" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;"></span>
                </div>
                <div class="weui-cell__bd">
                    <p>♂</p>
                    <p style="font-size: 13px;color: #888888;">￥0.01</p>
                </div>
          </div>
       </a>
       <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>未受邀</p>
                </div>
            </div>
      </div>
      </div>
</div>
<hr>
<div class="weui-flex">
    <div class="weui-flex__item" style="margin-right:20px;margin-left:10px">
        <div class="placeholder"> 
         <a ui-sref="topay" class="weui-btn weui-btn_plain-default" style="width:160px"> 
             <div class="weui-cell">
                <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                    <img src="weui/src/example/images/whitehead.png" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">可选</span>
                </div>
                <div class="weui-cell__bd">
                    <p>♀</p>
                    <p style="font-size: 13px;color: #888888;">￥10,000.00</p>
                </div>
             </div>
          </a>
          <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>未受邀</p>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-flex__item" >
      <div class="placeholder">
       <a ui-sref="topay" class="weui-btn weui-btn_plain-default" style="width:160px">
          <div class="weui-cell">
                <div class="weui-cell__hd" style="position: relative" style="margin-right:20px;margin-left:20px">
                    <img src="weui/src/example/images/whitehead.png" style="width: 50px;display: block"/>
                    <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">可选</span>
                </div>
                <div class="weui-cell__bd">
                    <p>♀</p>
                    <p style="font-size: 13px;color: #888888;">￥0.01</p>
                </div>
          </div>
       </a>
       <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>未受邀</p>
                </div>
            </div>
      </div>
      </div>
</div> -->
<br>
