<!-- 
description 订单列表页面
router:#!/orderls
 -->
<div class="page">
    <div class="page__bd">
        <div class="weui-form-preview" ng-repeat="order in orders">
            <div class="weui-form-preview__hd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">邀约|{{order.status | orderstatus}} </label>
                    <div class="weui-cell__bd">是否公开订单</div>
                        <div class="weui-cell__ft">
                            <label for="switchCP" class="weui-switch-cp">
                                <input id="switchCP" ng-change="stateChanged(order.is_public,order.number)" class="weui-switch-cp__input" type="checkbox" ng-model="order.is_public" ng-true-value="1" ng-false-value="0" />
                                <div class="weui-switch-cp__box"></div>
                            </label>
                        </div>
                    </div>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">订单号</label>
                    <span class="weui-form-preview__value">{{order.number}}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">路线</label>
                    <span class="weui-form-preview__value">{{order.name}}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">详情</label>
                    <span class="weui-form-preview__value">{{order.description}}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">预定时间</label>
                    <span class="weui-form-preview__value">{{order.create_time | date: 'yyyy-MM-dd'}}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">出发时间</label>
                    <span class="weui-form-preview__value">{{order.set_out_time | date: 'yyyy-MM-dd'}}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">归来时间</label>
                    <span class="weui-form-preview__value">{{order.back_time | date: 'yyyy-MM-dd'}}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">出发城市</label>
                    <span class="weui-form-preview__value">{{order.start_city}}</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">出游人数</label>
                    <span class="weui-form-preview__value">{{order.person_num}}成人</span>
                </div>
            </div>
            <!--根据不同的状态，查看、支付或者评价-->
            <div class="animate-switch-container"
                 ng-switch on="order.status">
                <div class="animate-switch"  ng-switch-default>
                    <div class="weui-form-preview__ft">
                        <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" ui-sref="orderdetail">查看详细订单</button>
                    </div>
                </div>
                <div class="animate-switch" ng-switch-when="0">
                    <div class="weui-form-preview__ft">
                        <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" ui-sref="topay">去支付</button>
                    </div>
                </div>
                <div class="animate-switch" ng-switch-when="2">
                    <div class="weui-form-preview__ft">
                        <button type="submit" class="weui-form-preview__btn weui-form-preview__btn_primary" ui-sref="evaluate">去评价</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-form-preview__ft">
    </div>
</div>