<!-- 
description  订单详情页面
router:#!/orderdetail
 -->
<div class="weui-form-preview">
    <div class="weui-form-preview__hd">
        <div class="weui-flex" ng-repeat="bed in beds">
            <div class="weui-flex__item" style="margin-right:20px;margin-left:10px">
                <div class="placeholder">
                    <div class="weui-btn weui-btn_plain-default" style="width:160px">
                        <div class="weui-cell">
                            <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                                <img src="{{bed.head_img_url}}" style="width: 50px;display: block"/>
                            </div>
                            <div class="weui-cell__bd">
                                <p>
                                    <div class="animate-switch-container"
                                         ng-switch on="bed.sex">
                                        <div class="animate-switch"  ng-switch-when="0">
                                            <div class="weui-form-preview__ft">
                                                ♂
                                            </div>
                                        </div>
                                        <div class="animate-switch"  ng-switch-when="1">
                                            <div class="weui-form-preview__ft">
                                                ♀
                                            </div>
                                        </div>
                                    </div>
                                </p>
                                <p style="font-size: 13px;color: #888888;">￥{{bed.money}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <p>{{bed.status | orderstatus}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div class="weui-cells__title">生成分享链接</div>
        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" ui-sref="" id="showTooltips">分享</a>
        </div>
    </div>
</div>

