<!-- 
description 这是支付成功页面 
router:#!/paysuccess
 -->
<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">支付成功！</h2>
        <p class="weui-msg__desc">{{clock}}秒之后为您跳转我的订单</p>
    </div>
</div>
<div class="weui-flex">
    <div class="weui-flex__item" style="margin-right:20px;margin-left:20px">
        <div class="placeholder"> <a ui-sref="home" class="weui-btn weui-btn_primary">首页</a></div>
    </div>
    <div class="weui-flex__item" style="margin-right:20px;margin-left:20px"><div class="placeholder"><a ui-sref="orderls" class="weui-btn weui-btn_primary ">我的订单</a></div></div>
</div>
<div class="weui-cells">
    <div class="page">
        <div class="weui-cells__title">随便逛逛</div>
        <div class="page__bd">
            <article class="weui-article">
                <section>
                    <p>
                    <a ui-sref="clsdetail">
                        <img src="weui/src/example/images/trip1.png" alt="" style="width:100%;display:block">
                    </a>
                    </p>
                    <p>
                        全程无自费，点评过百，私人沙滩，两晚椰子岛，VILLA别墅，海豚岛，送大堡礁帝王岛。
                    </p>
                    <p>
                        Just go,just go down to the road with no destination走，不是要去哪，而是在路上
                    </p>
                </section>
            </article>
        </div>
    </div>
</div>
