<!-- 
description 这是国家列表页面 
router:#!/placelist
 -->
 <div class="page"  ng-show="loading">
    <div class="page__bd">
        <div class="weui-loadmore weui-loadmore_line">
            <span class="weui-loadmore__tips">暂无数据</span>
        </div>
    </div>
</div>
<div class="page" ng-hide="loading">
    <div class="page__hd" style="margin-left:2px">
        <p class="page__desc"><img src="weui/src/example/images/xin.png" alt="">请您选择国家</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="weui-flex" ng-repeat="country in countrys ">
            <div class="weui-flex__item" ng-repeat="item in country">
                <div class="placeholder">
                    <div class="page__bd">
                        <article class="weui-article">
                            <section>
                                <p>
                                    <a ui-sref="routes({destinationCountryId: item.id})">
                                        <img src="weui/src/example/images/England.png" alt="">
                                    </a>
                                </p>
                                <p>
                                    {{item.name}}
                                </p>
                            </section>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-msg" ng-show="isEmpty">
        <div class="weui-msg__icon-area"><i class="weui-icon-info weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <p class="weui-msg__desc">系统暂未查询到相关数据</p>
        </div>
    </div>
</div>
