<!-- 
description 这是支付界面页面
router:#!/topay
 -->
<div class="page">
    <div class="page__bd">
        <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">订单详情：</label>
                </div>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <span class="weui-form-preview__value"><泰国-普吉岛-甲米6或7日游>天津往返直飞，入住泳池别墅，2晚国五酒店，无自费，畅游甲米，大堡礁浮潜，幻多奇主题乐园，预定赠送出海跟拍
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page">
    <div class="page__bd">
        <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">邀约详情：</label>
                </div>
            </div>
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">需支付金额</label>
                    <span class="weui-form-preview__value">￥10,000.00</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">预定时间</label>
                    <span class="weui-form-preview__value">2016-10-25</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">出发时间</label>
                    <span class="weui-form-preview__value">2016-11-05</span>
                </div>
                <div class="weui-form-preview__item">
                    <label class="weui-form-preview__label">归来时间</label>
                    <span class="weui-form-preview__value">2016-11-10</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="weui-cells__title">支付方式</div>
        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" ui-sref="paysuccess" id="showTooltips">微信支付</a>
        </div>

