<div class="weui-cells">
    <a class="weui-cell weui-cell_access" ui-sref="addtourist">
        <div class="weui-cell__bd">
            <p>游客1</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
    <a class="weui-cell weui-cell_access" ui-sref="addtourist">
        <div class="weui-cell__bd">
            <p>游客2</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
</div>
<div class="page__bd page__bd_spacing">
    <a ui-sref="addtourist" class="weui-btn weui-btn_primary" style="margin-right:20px;margin-left:20px;margin-top: 100px">
        新增
        </a>
</div>
