<div class="weui-form-preview">
    <div class="weui-form-preview__hd">
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">趣约详情</label>
        </div>
    </div>
    <div class="weui-form-preview__bd">
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">路线</label>
            <span class="weui-form-preview__value"><泰国-普吉岛-甲米6或7日游></span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">详情</label>
            <span class="weui-form-preview__value">天津往返直飞，入住泳池别墅，2晚国五酒店，无自费，畅游甲米，大堡礁浮潜，幻多奇主题乐园，预定赠送出海跟拍</span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">需支付金额</label>
            <font class="weui-form-preview__value" color="red">￥9</font>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">出发时间</label>
            <span class="weui-form-preview__value">2016-11-05</span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">归来时间</label>
            <span class="weui-form-preview__value">2016-11-10</span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">邀请人数</label>
            <span class="weui-form-preview__value">5人</span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">是否单身</label>
            <span class="weui-form-preview__value">是</span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">性别</label>
            <span class="weui-form-preview__value">女</span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">年龄</label>
            <span class="weui-form-preview__value">20-25</span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">性格</label>
            <span class="weui-form-preview__value">❤ ❤ ❤</span>
        </div>
        <div class="weui-form-preview__item">
            <label class="weui-form-preview__label">生活习惯</label>
            <span class="weui-form-preview__value">❤ ❤ ❤</span>
        </div>
    </div>
</div>
<div class="page">
    <div class="page__bd">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>请点击趣约界面查看最新发布的详细信息</p>
                </div>
            </div>
        </div>
    </div>
</div>
