{extend name="index" /}
{block name="content"}
<div class="row">
    <div class="col-md-12">
        <div class="span12">
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1 col-md-offset-11">
                            <a href="{:url('add')}" class="btn btn-info">新增</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <table class="table table-hover table-bordered">
                <tr class="info">
                    <th>编号</th>
                    <th>路线名称</th>
                    <th>图片URL</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>英国三日游</td>
                    <td>https://127.0.0.1/public/static/1.jpg</td>
                    <td>
                       
                        <a class="btn btn-sm btn-info" href="http://127.0.0.1/tour/public/admin/slidershow/edit.html"><i class="glyphicon glyphicon-pencil"></i> 编辑</a>
                        <a class="btn btn-sm btn-danger" href="#"><i class="glyphicon glyphicon-trash"></i> 删除</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{/block}