{extend name="index" /} {block name="content"}
<div class="panel-body"></div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">出发地</label>
                            <div class="col-md-2">
                                <select class=" form-control">
                                    <option value="1">北京</option>
                                    <option value="2">上海</option>
                                    <option value="2">天津</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">目的地</label>
                            <div class="col-md-2">
                                <select class=" form-control">
                                    <option value="1">伦敦</option>
                                    <option value="2">巴黎</option>
                                    <option value="2">苏黎世</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">酒店</label>
                            <div class="col-md-2">
                                <select class=" form-control">
                                    <option value="1">希尔顿</option>
                                    <option value="2">希尔顿</option>
                                    <option value="2">希尔顿</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">描述信息</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">选择间数</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">入住天数</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">出发日期</label>
                            <div class="col-md-2">
                                <input type="date" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">返程日期</label>
                            <div class="col-md-2">
                                <input type="date" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">起价</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">标价</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">优惠</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">实际价格</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">slidershow</label>
                            <div class="col-md-2">
                                <select class=" form-control">
                                    <option value="1">英国幻灯片</option>
                                    <option value="2">英国幻灯片</option>
                                    <option value="2">英国幻灯片</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 text-right">详情</label>
                            <div class="col-md-9">
                                <textarea class="ckeditor" id="content" name="content"></textarea>
                                <script>
                                CKEDITOR.replace('content', {
                                    /*
                                     * Ensure that htmlwriter plugin, which is required for this sample, is loaded.
                                     */
                                    extraPlugins: 'htmlwriter',

                                    /*
                                     * Style sheet for the contents
                                     */
                                    contentsCss: 'body {color:#000; background-color#:FFF;}',

                                    /*
                                     * Simple HTML5 doctype
                                     */
                                    docType: '<!DOCTYPE HTML>',

                                    /*
                                     * Allowed content rules which beside limiting allowed HTML
                                     * will also take care of transforming styles to attributes
                                     * (currently only for img - see transformation rules defined below).
                                     *
                                     * Read more: http://docs.ckeditor.com/#!/guide/dev_advanced_content_filter
                                     */
                                    allowedContent: 'h1 h2 h3 p pre[align]; ' +
                                        'blockquote code kbd samp var del ins cite q b i u strike ul ol li hr table tbody tr td th caption; ' +
                                        'img[!src,alt,align,width,height]; font[!face]; font[!family]; font[!color]; font[!size]; font{!background-color}; a[!href]; a[!name]',

                                    /*
                                     * Core styles.
                                     */
                                    coreStyles_bold: {
                                        element: 'b'
                                    },
                                    coreStyles_italic: {
                                        element: 'i'
                                    },
                                    coreStyles_underline: {
                                        element: 'u'
                                    },
                                    coreStyles_strike: {
                                        element: 'strike'
                                    },

                                    /*
                                     * Font face.
                                     */

                                    // Define the way font elements will be applied to the document.
                                    // The "font" element will be used.
                                    font_style: {
                                        element: 'font',
                                        attributes: {
                                            'face': '#(family)'
                                        }
                                    },

                                    /*
                                     * Font sizes.
                                     */
                                    fontSize_sizes: 'xx-small/1;x-small/2;small/3;medium/4;large/5;x-large/6;xx-large/7',
                                    fontSize_style: {
                                        element: 'font',
                                        attributes: {
                                            'size': '#(size)'
                                        }
                                    },

                                    /*
                                     * Font colors.
                                     */

                                    colorButton_foreStyle: {
                                        element: 'font',
                                        attributes: {
                                            'color': '#(color)'
                                        }
                                    },

                                    colorButton_backStyle: {
                                        element: 'font',
                                        styles: {
                                            'background-color': '#(color)'
                                        }
                                    },

                                    /*
                                     * Styles combo.
                                     */
                                    stylesSet: [{
                                        name: 'Computer Code',
                                        element: 'code'
                                    }, {
                                        name: 'Keyboard Phrase',
                                        element: 'kbd'
                                    }, {
                                        name: 'Sample Text',
                                        element: 'samp'
                                    }, {
                                        name: 'Variable',
                                        element: 'var'
                                    }, {
                                        name: 'Deleted Text',
                                        element: 'del'
                                    }, {
                                        name: 'Inserted Text',
                                        element: 'ins'
                                    }, {
                                        name: 'Cited Work',
                                        element: 'cite'
                                    }, {
                                        name: 'Inline Quotation',
                                        element: 'q'
                                    }],

                                    on: {
                                        pluginsLoaded: configureTransformations,
                                        loaded: configureHtmlWriter
                                    }
                                });

                                /*
                                 * Add missing content transformations.
                                 */
                                function configureTransformations(evt) {
                                    var editor = evt.editor;

                                    editor.dataProcessor.htmlFilter.addRules({
                                        attributes: {
                                            style: function(value, element) {
                                                // Return #RGB for background and border colors
                                                return CKEDITOR.tools.convertRgbToHex(value);
                                            }
                                        }
                                    });

                                    // Default automatic content transformations do not yet take care of
                                    // align attributes on blocks, so we need to add our own transformation rules.
                                    function alignToAttribute(element) {
                                        if (element.styles['text-align']) {
                                            element.attributes.align = element.styles['text-align'];
                                            delete element.styles['text-align'];
                                        }
                                    }
                                    editor.filter.addTransformations([
                                        [{
                                            element: 'p',
                                            right: alignToAttribute
                                        }],
                                        [{
                                            element: 'h1',
                                            right: alignToAttribute
                                        }],
                                        [{
                                            element: 'h2',
                                            right: alignToAttribute
                                        }],
                                        [{
                                            element: 'h3',
                                            right: alignToAttribute
                                        }],
                                        [{
                                            element: 'pre',
                                            right: alignToAttribute
                                        }]
                                    ]);
                                }

                                /*
                                 * Adjust the behavior of htmlWriter to make it output HTML like FCKeditor.
                                 */
                                function configureHtmlWriter(evt) {
                                    var editor = evt.editor,
                                        dataProcessor = editor.dataProcessor;

                                    // Out self closing tags the HTML4 way, like <br>.
                                    dataProcessor.writer.selfClosingEnd = '>';

                                    // Make output formatting behave similar to FCKeditor.
                                    var dtd = CKEDITOR.dtd;
                                    for (var e in CKEDITOR.tools.extend({}, dtd.$nonBodyContent, dtd.$block, dtd.$listItem, dtd.$tableContent)) {
                                        dataProcessor.writer.setRules(e, {
                                            indent: true,
                                            breakBeforeOpen: true,
                                            breakAfterOpen: false,
                                            breakBeforeClose: !dtd[e]['#'],
                                            breakAfterClose: true
                                        });
                                    }
                                }
                                </script>
                                <br />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">选择客服</label>
                            <div class="col-md-2">
                                <select class=" form-control">
                                    <option value="1">客服1</option>
                                    <option value="2">客服1</option>
                                    <option value="2">客服1</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">押金比例</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">到期时间</label>
                            <div class="col-md-2">
                                <input type="date" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">出发航班</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">出发航班</label>
                            <div class="col-md-2">
                                <select class=" form-control">
                                    <option value="1">G1259</option>
                                    <option value="2">G1596</option>
                                    <option value="2">希尔顿</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">返回航班</label>
                            <div class="col-md-2">
                                <select class=" form-control">
                                    <option value="1">G1259</option>
                                    <option value="2">G1596</option>
                                    <option value="2">希尔顿</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/tour/public/bower_components/ckeditor/ckeditor.js"></script>
<script src="/YZCMS/public/bower_components/ckeditor/sample.js"></script>
{/block}
