{extend name="index" /} {block name="content"}
<div class="panel-body"></div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row" style="font-size:20px;">
                    <div class="col-md-12">
                        <div class="">
                        	<label>出发地：</label>天津
                        </div>
                        <div class="">
                        	<label>目的地：</label>伦敦
                        </div>
                        <div class="">
                            <label>酒店：</label>香格里拉酒店
                        </div>
                        <div class="">
                            <label>出发航班：</label>G2323
                        </div>
                        <div class="">
                            <label>返回航班：</label>G2323
                        </div>
                        <div class="">
                            <label>出发日期：</label>2017-04-03
                        </div>
                        <div class="">
                            <label>返回日期：</label>2017-04-03
                        </div>
                        <div class="">
                            <label>截止日期：</label>2017-04-03
                        </div>
                        <div class="">
                            <label>选择房间数：</label>3
                        </div>
                        <div class="">
                            <label>起价：</label>30000
                        </div>
                        <div class="">
                            <label>标价：</label>300
                        </div>
                        <div class="">
                            <label>选择客服：</label>022-3423434
                        </div>
                        <div class="">
                            <label>押金比例：</label>30%
                        </div>
                        <div class="">
                        	<label>路线简介</label>从天津出发，飞往伦敦从天津出发，飞往伦敦从天津出发，飞往伦敦从天津出发，飞往伦敦从天津出发，飞往伦敦从天津出发，飞往伦敦从天津出发，飞往伦敦从天津出发，飞往伦敦从天津出发，飞往伦敦从天津出发，飞往伦敦
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</d iv>
{/block}
