{extend name="index" /} {block name="content"}
<div class="panel-body"></div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row" style="font-size:20px;">
                    <div class="col-md-12">
                        <div class="">
                            <label>昵称：</label>楚航
                        </div>
                        <div class="">
                            <label>性别：</label>男
                        </div>
                        <div class="">
                            <label>电话号码：</label>13752603780
                        </div>
                        <div class="">
                            <label>邮件</label>103609364@qq.com
                        </div>
                        <div class="">
                            <label>出生日期：</label>1997-08-20
                        </div>
                        <div class="">
                            <label>国家</label>天津
                        </div>
                        <div class="">
                            <label>省份：</label>天津
                        </div>
                        <div class="">
                            <label>城市：</label>天津
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</d iv>
{/block}
