{extend name="index" /}
{block name="content"}
<div class="row">
    <div class="col-md-12">
        <div class="span12">
            <hr />
            <div class="row">
                <div class="col-md-10">
                    <form class="form-inline" action="{:url('', url('get.'))}"  method="get">
                        <div class="form-group">
                            <label class="sr-only" for="name">姓名</label>
                            <input name="name" type="text" class="form-control" placeholder="城市名..." id="name" value="{:input('get.name')}">
                        </div>
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                    </form>
                </div>
                 <div class="col-md-2  text-right">
                    <a class="btn btn-success" href="{:url('add')}"><i class="glyphicon glyphicon-plus">新增</i></a>
                </div>
            </div>
            <hr />
            <table class="table table-hover table-bordered">
                <tr class="info">
                    <th>序号</th>
                    <th>国家</th>
                    <th>城市名</th>
                    <th>图片</th>
                    <th>操作</th>
                </tr>
                {volist name="DestinationCityModels" id="DestinationModel" key="key"}
                <tr>
                    <td>{$key}</td>
                    <td>{$DestinationModel->getCountry()->getData('name')}</td>
                    <td>{$DestinationModel->getData('name')}</td>
                    <td><a href="{:url('picture/detail')}">详情</a></td>
                	<td>
                    <a class="btn btn-sm btn-primary" href="{:url('edit?id='.$DestinationModel->getData('id'))}"><i class="glyphicon glyphicon-pencil"></i> 编辑</a>
                    <a class="btn btn-sm btn-danger" href="{:url('delete?id='.$DestinationModel->getData('id'))}"><i class="glyphicon glyphicon-trash"></i> 删除</a>
                    </td>
                </tr>
                {/volist}
            </table>
            {$DestinationCityModels->render()}
        </div>
    </div>
</div>
{/block}