{extend name="index" /} {block name="content"}
<div class="row">
    <div class="col-md-12">
        <div class="span12">
            <hr />
            <div class="row">
                <div class="col-md-10">

                </div>

            </div>
            <hr />
            <input type="hidden" name="id" value="{$Bed->id}">
            <table class="table table-hover table-bordered">
                <tr class="info">
                    <th>床位号</th>
                    <th>邀约编号</th>
                    <th>入住人姓名</th>
                    <th>性别</th>
                    <th>金额</th>
                </tr>
                <tr>
                    <td>{$Bed->number}</td>
                    <td>{$Bed->Invite->number}</td>
                    <td>{$Bed->Customer->nick_name}</td>
                    <td>{$Bed->Customer->sex}</td>
                    <td>{$Bed->money}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{/block}
