<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>途游Toyou</title>
    
    <!-- wangEditor的css文件 -->
    <link href="/tour/public/bower_components/wangEditor/dist/css/wangEditor.min.css" rel="stylesheet">


    <!-- Bootstrap Core CSS -->
    <link href="/tour/public/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/tour/public/theme/dist/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/tour/public/theme/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/tour/public/theme/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/tour/public/theme/dist/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/tour/public/theme/dist/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Angularjs library -->
    <script src="/tour/public/bower_components/angular/angular.min.js"></script>  
    <script src="/tour/public/bower_components/angular-resource/angular-resource.min.js"></script>  

   <script type="text/javascript">
        var app = angular.module('app', ['ngFileUpload', 'ngResource']);
   </script>

   <!-- or include the files separately -->
   <script src="/tour/public/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
   <script src="/tour/public/bower_components/ng-file-upload-shim/ng-file-upload-shim.min.js"></script>
</head>
