<!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{:url('Index/index')}">途游Toyou</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{:url('Personal/edit')}"><i class="fa fa-user fa-fw"></i> 您好，</a>
                        </li>

                        <li class="divider"></li>
                        <li><a href="{:url('Login/logOut')}"><i class="fa fa-sign-out fa-fw"></i> 注销</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a href="{:url('Index/index')}"><i class="fa fa-dashboard fa-fw"></i> 首页</a>
                        </li>

                        <li>
                            <a href="{:url('User/index')}"><i class="fa  fa-users fa-fw"></i> 用户管理</a>
                        </li>

                        <li>
                            <a href="{:url('Order/index')}"><i class="fa fa-paperclip fa-fw"></i> 订单管理</a>
                        </li>

                        <li>
                            <a href="{:url('Customer/index')}"><i class="fa fa-edit fa-fw"></i> 客户管理</a>
                        </li>

                        <li>
                            <a href="{:url('Slidershow/index')}"><i class="fa fa-image fa-fw"></i> 幻灯片管理</a>
                        </li>

                        <li>
                            <a href="{:url('Personal/index')}"><i class="fa fa-user fa-fw"></i> 个人中心</a>
                        </li>

                        <li>
                            <a href="{:url('Route/index')}"><i class="fa fa-navicon fa-fw"></i> 路线管理</a>
                        </li>

                        <li>
                            <a href="{:url('Hotel/index')}"><i class="fa fa-cogs fa-fw"></i> 酒店管理</a>
                        </li>

                        <li>
                            <a href="{:url('Flight/index')}"><i class="fa fa-cogs fa-fw"></i> 航班管理</a>
                        </li>

                        <li>
                            <a href="{:url('Role/index')}"><i class="fa fa-cogs fa-fw"></i> 角色管理</a>
                        </li>

                        <li>
                            <a href="{:url('Evaluate/index')}"><i class="fa fa-cogs fa-fw"></i> 评价管理</a>
                        </li>

                        <li>
                            <a href="{:url('Visa/index')}"><i class="fa fa-cogs fa-fw"></i> 签证管理</a>
                        </li>

                        <li>
                            <a href="{:url('System/index')}"><i class="fa fa-cogs fa-fw"></i> 系统设置<span class="fa arrow"></span></a>
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
