
   <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{:url('Index/index')}">途游Toyou</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                    <li><a href="{:url('Personal/index')}"><i class="fa fa-user fa-fw"></i> 您好,<?php use think\Session; echo Session::get('username'); ?></a>
                        </li>

                        <li class="divider"></li>
                        <li><a href="{:url('Login/logOut')}"><i class="fa fa-sign-out fa-fw"></i> 注销</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a href="{:url('index/index')}"><i class="glyphicon glyphicon-home"></i> &nbsp;首页</a>
                        </li>


                        <li>
                            <a href="{:url('system/index')}"><i class="glyphicon glyphicon-globe"></i> &nbsp;首页推荐<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{:url('HomeRecommend/index')}">首页路线</a>
                                </li>
                                <li>
                                    <a href="{:url('HomeCity/index')}">首页城市</a>
                                </li>
                                <li>
                                    <a href="{:url('HomeRegion/index')}">首页地区</a>
                                </li>
                            </ul>
                        </li>

                        

                        <li>
                            <a href="{:url('Order/index')}"><i class="glyphicon glyphicon-list-alt"></i> &nbsp;订单管理</a>
                        </li>

                        <li>
                            <a href="{:url('Customer/index')}"><i class="fa  fa-users fa-fw"></i> 客户管理</a>
                        </li>



                        <li>
                            <a href="{:url('Personal/index')}"><i class="fa fa-user fa-fw"></i> 个人中心</a>
                        </li>

                        <li>
                            <a href="{:url('Route/index')}"><i class="glyphicon glyphicon-road"></i> &nbsp;路线管理</a>
                        </li>
                        <li>
                            <a href="{:url('Invite/index')}"><i class="fa fa-comments fa-fw" aria-hidden="true"></i> 邀约管理</a>
                        </li>

                        <li>
                            <a href="{:url('Hotel/index')}"><i class="glyphicon glyphicon-calendar"></i> &nbsp;酒店管理</a>
                        </li>

                        <li>
                            <a href="{:url('Flight/index')}"><i class="glyphicon glyphicon-plane"></i> &nbsp;航班管理</a>
                        </li>


                        <li>
                            <a href="{:url('Evaluate/index')}"><i class="fa fa-edit fa-fw"></i> 评价管理</a>
                        </li>

                      
                        <li>
                            <a href="{:url('System/index')}"><i class="glyphicon glyphicon-globe"></i> &nbsp;区域管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{:url('Region/index')}">地区管理</a>
                                </li>
                                <li>
                                    <a href="{:url('StartCity/index')}">出发城市</a>
                                </li>
                                <li>
                                    <a href="{:url('DestinationCity/index')}">目的城市</a>
                                </li>
                            </ul>
                        </li>

                     
                        <li>
                            <a href="{:url('System/index')}"><i class="fa fa-cogs fa-fw"></i> 系统设置</a>
                        </li>
                         

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
