{extend name="index" /} {block name="content"}
<div class="panel-body"></div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row" style="font-size:20px;">
                    <div class="col-md-12">
                        <div class="">
                        	<label>用户名：</label>zhangsan
                        </div>
                        <div class="">
                        	<label>电话：</label>13752603780
                        </div>
                        <div class="">
                        	<label>评价内容：</label>这次旅行真的很不错这次旅行真的很不错这次旅行真的很不错这次旅行真的很不错这次旅行真的很不错这次旅行真的很不错这次旅行真的很不错这次旅行真的很不错这次旅行真的很不错这次旅行真的很不错这次旅行真的很不错这次旅行真的很不错
                        </div>
                        <div class="">
                        	<label>路线简介</label>从天津出发，飞往伦敦从天津出发，飞往伦敦从天津出发，飞往伦敦从天津出发，飞往伦敦从天津出发，飞往伦敦从天津出发，飞往伦敦从天津出发，飞往伦敦从天津出发，飞往伦敦从天津出发，飞往伦敦从天津出发，飞往伦敦
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</d iv>
{/block}
