{extend name="index" /} {block name="content"}
<div class="panel-body"></div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">床位号</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-md-2 control-label">订单编号</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                       <div class="form-group">
                            <label class="col-md-2 control-label">客户</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">邀约名称</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">入住人性别</label>
                            <div class="col-md-2">
                                <select class="form-control">
                                    <option value="1">男</option>
                                    <option value="2">女</option>
                                </select>
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">金额</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-success col-md-2 col-md-offset-1">添加</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
