{extend name="index" /} {block name="content"}
<div class="panel-body"></div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">订单编号</label>
                            <div class="col-md-2">
                                <label class="control-label">1552369</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">出发城市</label>
                            <div class="col-md-2">
                                <select class=" form-control">
                                    <option value="1">天津</option>
                                    <option value="1">北京</option>
                                    <option value="1">上海</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">目标城市</label>
                            <div class="col-md-2">
                                <select class=" form-control">
                                    <option value="1" >伦敦</option>
                                    <option value="1">巴黎</option>
                                    <option value="1">东京</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">路线类型</label>
                            <div class="col-md-2">
                                <label class="control-label">经典小团</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">发布人</label>
                            <div class="col-md-2">
                                <label class="control-label">楚航</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">联系电话</label>
                            <div class="col-md-2">
                                <label class="control-label">15933008109</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">人员详情</label>
                            <div class="col-md-2">
                                <div class="col-md-12">
                                    <a href="#">详情</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">游玩天数</label>
                            <div class="col-md-2">
                                <label class="control-label">10</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">出行日期</label>
                            <div class="col-md-2">
                                <label class="control-label">2017/1/12</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">共几人</label>
                            <div class="col-md-2">
                                <label class="control-label">6</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">已支付几人</label>
                            <div class="col-md-2">
                                <label class="control-label">3</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">未支付几人</label>
                            <div class="col-md-2">
                                <label class="control-label">3</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">支付状态</label>
                            <div class="col-md-2">
                                <label class="control-label">已支付</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
