{extend name="index" /}{block name="content"}
<!-- slider css -->
<link href="/tour/public/theme/css/jssorb05.css" rel="stylesheet">
<br>
<center><h1>贴身挺舒服</h1></center>
<hr>
<div style="padding:0px; margin:0px; background-color:#fff;font-family:'Open Sans',sans-serif,arial,helvetica,verdana">
    <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:600px;height:300px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" style="position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('/tour/public/theme/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:600px;height:300px;overflow:hidden;">
            <div>
                <img data-u="image" src="/tour/public/upload/20170321/195baf38c25ce4e734acfca087172109.jpg" />
            </div>
            <div>
                <img data-u="image" src="/tour/public/upload/20170321/e934e1a61bf134fbc88165c65cb91cc1.png" />
            </div>
            <div>
                <img data-u="image" src="/tour/public/upload/20170321/e934e1a61bf134fbc88165c65cb91cc1.png" />
            </div>
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
            <!-- bullet navigator item prototype -->
            <div data-u="prototype" style="width:16px;height:16px;"></div>
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora12l" style="top:0px;left:0px;width:30px;height:46px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora12r" style="top:0px;right:0px;width:30px;height:46px;" data-autocenter="2"></span>
    </div>
    
    <script src="/tour/public/theme/js/jssor.slider-22.2.16.min.js" type="text/javascript"></script>
    <script src="/tour/public/theme/js/jssor_1_slider_init.js" type="text/javascript"></script>
    <script type="text/javascript">jssor_1_slider_init();</script>
</div>

{/block}