<style>
/*设置“上传图片按钮”样式*/
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #d9534f;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #D10F0F;
    color: white;
}
.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}
.box1 {
    border:1px solid #c8c8c8; 
    width:188px;
}
.box2 {
    padding-left:5px; 
    border:1px solid #c8c8c8; 
    width:200px; 
    height:194px;
    margin-top: 11px;
}
.img-style {
  width:182px; 
  height:120px; 
  padding-left:3px; 
  margin-top:3px;
}
.btn-class {
  margin-left:3px; 
  margin-top:3px; 
  width:60px;
}
.col-md-10 {
  margin-left:-15px;
}
.image-width {
    width: inherit;
}
h4 {
    line-height: 0.8;
    color: inherit;
}
</style>