<div class="row" ng-app="app" ng-controller="test">
    <div class="col-md-2 text-right">
        图片
    </div>
    <div class="col-md-6">
        <div flow-init="{target: '/tour/public/admin/picture/index'}"
             flow-files-submitted="$flow.upload()"
             flow-file-success="$file.msg = $message"
             flow-name="files.flow">

          <input type="file" flow-btn/>
          Input OR Other element as upload button
          <button type="button" ng-click="upload($flow)">Upload</button>

          <table>
            <tr ng-repeat="file in $flow.files">
                <td>{{file.name}}</td>
                <td>11{{file.msg}}</td>
            </tr>
            <img flow-img="$flow.files[0]" />
          </table>
        </div>
    </div>
    
</div>



<script>


    app.controller('test', function ($scope, $http) {

        $scope.upload = function(file) {
            console.log(file.files);
            $scope.file = file.files[0];
            console.log($scope.file);

            var fd = new FormData();
             fd.append('file', $scope.file);
          
             $http.post('{:url("picture/index")}', fd, {
                transformRequest: angular.identity,
                headers: {'Content-Type': undefined}
             })
          
             .success(function(){
                console.log(1);
             })
          
             .error(function(){
                console.log(2);
             });
             
        }
        
    });
</script>
