{extend name="index" /} {block name="content"}
<div class="row">
    <div class="col-md-12">
        <div class="span12">
            <hr />
            <div class="row">
                <div class="row">
                <div class="col-md-10">
                    <form action="{:url('index')}" method="get" class="form-inline">
                        <div class="col-md-3">
                            <label>类型</label>&nbsp;
                            <select class="form-control">
                                <option value="1">酒店</option>
                                <option value="2">路线</option>
                                <option value="2">身份证</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input name="title" type="text" class="form-control" placeholder="名称..." id="title" value="{:input('get.title')}">
                            </div>
                            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 text-right">
                    <tr>
                        <a class="btn btn-success" href="{:url('add')}"><i class="glyphicon glyphicon-plus">新增</i></a>
                    </tr>
                </div>
            </div>
            <hr />
            <table class="table table-hover table-bordered">
                <tr class="info">
                    <th>编号</th>
                    <th>图片名称</th>
                    <th>类型</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>香格里拉酒店</td>
                    <td>酒店</td>
                    <td> 
                    <a class="btn btn-sm btn-info" href="{:url('edit')}"><i class="glyphicon glyphicon-pencil"></i> 编辑</a>
                    <a class="btn btn-sm btn-danger" href="#"><i class="glyphicon glyphicon-trash"></i> 删除</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{/block}
